@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p {
  line-height: 1.5;
}

.gif-container {
  width: 100vw;
  height: 100vw;
  text-align: center;
  padding-top: 4.5rem;
}